
/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Main marketing message and sign up button */
/*
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
*/
/*}*/
footer{
    width: 100%;
    margin-top: 20px ;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
    margin: 10% 50%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body, html {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
    margin: 0;
}
body{
    background-size: 100% 110%;
  background-image: url("hero.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container{
    margin-top: 8%;
    border-color: black;
    border-width: 1px 0px;
    border-style: solid;
    background-color: rgba(255,255,255,0.4);
/*    min-height: 350px;*/
}

.ghostButton {
    
    border: 1px solid #187da5;
    background-color: rgba(42,136,73,0);
    color: #135f7c;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
    border-radius: 6px;
    font: bold 20px 'Bitter', serif;
}

    .ghostButton:hover {
        cursor: pointer;
        color: #135f7c;
        background-color: rgba(255,255,255,1);
        
        border-radius: 6px;
    }


input[type=text], input[type=password] {
    max-width:400px;
	width: 80%;
}